<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_CeilingFan_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,902},{126,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,46}}</string>
				<key>sourceSize</key>
				<string>{126,46}</string>
			</dict>

			<key>gobj_CeilingFan_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,224},{126,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,46}}</string>
				<key>sourceSize</key>
				<string>{126,46}</string>
			</dict>

			<key>gobj_CeilingFan_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,172},{126,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,46}}</string>
				<key>sourceSize</key>
				<string>{126,46}</string>
			</dict>

			<key>gobj_CeilingFan_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,730},{126,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,46}}</string>
				<key>sourceSize</key>
				<string>{126,46}</string>
			</dict>

			<key>gobj_CeilingFan_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,976},{126,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,46}}</string>
				<key>sourceSize</key>
				<string>{126,46}</string>
			</dict>

			<key>gobj_CeilingFan_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,1177},{126,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,46}}</string>
				<key>sourceSize</key>
				<string>{126,46}</string>
			</dict>

			<key>gobj_CeilingFan_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,1229},{126,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,46}}</string>
				<key>sourceSize</key>
				<string>{126,46}</string>
			</dict>

			<key>gobj_Glass1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,570},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>

			<key>gobj_Glass1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,479},{75,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,74}}</string>
				<key>sourceSize</key>
				<string>{75,74}</string>
			</dict>

			<key>gobj_Glass1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1363,570},{75,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,74}}</string>
				<key>sourceSize</key>
				<string>{75,74}</string>
			</dict>

			<key>gobj_Glass1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1363,650},{75,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,74}}</string>
				<key>sourceSize</key>
				<string>{75,74}</string>
			</dict>

			<key>gobj_Glass1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1323,898},{75,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,74}}</string>
				<key>sourceSize</key>
				<string>{75,74}</string>
			</dict>

			<key>gobj_Glass1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1400,978},{75,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,74}}</string>
				<key>sourceSize</key>
				<string>{75,74}</string>
			</dict>

			<key>gobj_Glass1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1390,0},{75,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,74}}</string>
				<key>sourceSize</key>
				<string>{75,74}</string>
			</dict>

			<key>gobj_Glass2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1230,736},{65,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,33}}</string>
				<key>sourceSize</key>
				<string>{65,33}</string>
			</dict>

			<key>gobj_Glass2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,1159},{97,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,95}}</string>
				<key>sourceSize</key>
				<string>{97,95}</string>
			</dict>

			<key>gobj_Glass2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,1361},{97,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,95}}</string>
				<key>sourceSize</key>
				<string>{97,95}</string>
			</dict>

			<key>gobj_Glass2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1381,1159},{97,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,95}}</string>
				<key>sourceSize</key>
				<string>{97,95}</string>
			</dict>

			<key>gobj_Glass2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,1260},{97,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,95}}</string>
				<key>sourceSize</key>
				<string>{97,95}</string>
			</dict>

			<key>gobj_Glass2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1323,736},{97,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,95}}</string>
				<key>sourceSize</key>
				<string>{97,95}</string>
			</dict>

			<key>gobj_Glass2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1287,0},{97,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,95}}</string>
				<key>sourceSize</key>
				<string>{97,95}</string>
			</dict>

			<key>gobj_Glass3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,1479},{97,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,33}}</string>
				<key>sourceSize</key>
				<string>{97,33}</string>
			</dict>

			<key>gobj_Glass3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1145,1061},{127,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,117}}</string>
				<key>sourceSize</key>
				<string>{127,117}</string>
			</dict>

			<key>gobj_Glass3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,490},{127,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,117}}</string>
				<key>sourceSize</key>
				<string>{127,117}</string>
			</dict>

			<key>gobj_Glass3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1230,613},{127,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,117}}</string>
				<key>sourceSize</key>
				<string>{127,117}</string>
			</dict>

			<key>gobj_Glass3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1145,1184},{127,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,117}}</string>
				<key>sourceSize</key>
				<string>{127,117}</string>
			</dict>

			<key>gobj_Glass3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1190,914},{127,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,117}}</string>
				<key>sourceSize</key>
				<string>{127,117}</string>
			</dict>

			<key>gobj_Glass3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1190,791},{127,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,117}}</string>
				<key>sourceSize</key>
				<string>{127,117}</string>
			</dict>

			<key>gobj_Glass4_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1296},{129,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,33}}</string>
				<key>sourceSize</key>
				<string>{129,33}</string>
			</dict>

			<key>gobj_Glass4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,0},{182,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,138}}</string>
				<key>sourceSize</key>
				<string>{182,138}</string>
			</dict>

			<key>gobj_Glass4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,442},{182,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,138}}</string>
				<key>sourceSize</key>
				<string>{182,138}</string>
			</dict>

			<key>gobj_Glass4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,144},{182,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,138}}</string>
				<key>sourceSize</key>
				<string>{182,138}</string>
			</dict>

			<key>gobj_Glass4_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,832},{182,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,138}}</string>
				<key>sourceSize</key>
				<string>{182,138}</string>
			</dict>

			<key>gobj_Glass4_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,586},{182,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,138}}</string>
				<key>sourceSize</key>
				<string>{182,138}</string>
			</dict>

			<key>gobj_Glass4_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,298},{182,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,138}}</string>
				<key>sourceSize</key>
				<string>{182,138}</string>
			</dict>

			<key>gobj_HappyLightbulb_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1390,80},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,65}}</string>
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>

			<key>gobj_HappyLightbulb_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1400,1058},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,65}}</string>
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>

			<key>gobj_HappyLightbulb_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,1349},{169,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,166}}</string>
				<key>sourceSize</key>
				<string>{169,166}</string>
			</dict>

			<key>gobj_HappyLightbulb_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,288},{169,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,166}}</string>
				<key>sourceSize</key>
				<string>{169,166}</string>
			</dict>

			<key>gobj_HappyLightbulb_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,1148},{169,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,166}}</string>
				<key>sourceSize</key>
				<string>{169,166}</string>
			</dict>

			<key>gobj_HappyLightbulb_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,0},{169,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,166}}</string>
				<key>sourceSize</key>
				<string>{169,166}</string>
			</dict>

			<key>gobj_HappyLightbulb_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,1177},{169,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,166}}</string>
				<key>sourceSize</key>
				<string>{169,166}</string>
			</dict>

			<key>gobj_HappyLightbulb_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,976},{169,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,166}}</string>
				<key>sourceSize</key>
				<string>{169,166}</string>
			</dict>

			<key>gobj_HappyLightbulb_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,730},{169,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,166}}</string>
				<key>sourceSize</key>
				<string>{169,166}</string>
			</dict>

			<key>gobj_HappyLightbulb_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,460},{169,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,166}}</string>
				<key>sourceSize</key>
				<string>{169,166}</string>
			</dict>

			<key>gobj_PowerUp_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1409,221},{64,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,65}}</string>
				<key>sourceSize</key>
				<string>{64,65}</string>
			</dict>

			<key>gobj_PowerUp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1135,1320},{156,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,153}}</string>
				<key>sourceSize</key>
				<string>{156,153}</string>
			</dict>

			<key>gobj_PowerUp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,632},{156,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,153}}</string>
				<key>sourceSize</key>
				<string>{156,153}</string>
			</dict>

			<key>gobj_PowerUp_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,172},{156,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,153}}</string>
				<key>sourceSize</key>
				<string>{156,153}</string>
			</dict>

			<key>gobj_PowerUp_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,0},{156,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,153}}</string>
				<key>sourceSize</key>
				<string>{156,153}</string>
			</dict>

			<key>gobj_PowerUp_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,331},{156,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,153}}</string>
				<key>sourceSize</key>
				<string>{156,153}</string>
			</dict>

			<key>gobj_PowerUp_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,902},{156,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,153}}</string>
				<key>sourceSize</key>
				<string>{156,153}</string>
			</dict>

			<key>gobj_SpawnerClose_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1400,1260},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>gobj_SpawnerClose_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,898},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>gobj_SpawnerClose_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1409,151},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>gobj_SpawnerClose_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1400,1330},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>gobj_SpawnerClose_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1447,1470},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>gobj_SpawnerClose_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1426,730},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>gobj_SpawnerOpen_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1461,432},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>gobj_SpawnerOpen_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,1260},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>gobj_SpawnerOpen_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1461,80},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>gobj_SpawnerOpen_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1409,362},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>gobj_SpawnerOpen_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,1330},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>gobj_SpawnerOpen_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1426,800},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>gobj_SpawnerOpen_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1447,1400},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>gobj_SpawnerOpen_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,629},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>gobj_SpawnerOpen_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1409,292},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>gobj_SpawnerOpen_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,559},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>gobj_barrier_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,632},{118,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,29}}</string>
				<key>sourceSize</key>
				<string>{118,29}</string>
			</dict>

			<key>gobj_barrier_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,782},{118,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,29}}</string>
				<key>sourceSize</key>
				<string>{118,29}</string>
			</dict>

			<key>gobj_barrier_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,667},{118,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,29}}</string>
				<key>sourceSize</key>
				<string>{118,29}</string>
			</dict>

			<key>gobj_cable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1514,502},{9,336}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,336}}</string>
				<key>sourceSize</key>
				<string>{9,336}</string>
			</dict>

			<key>gobj_go.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,0},{301,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,292}}</string>
				<key>sourceSize</key>
				<string>{301,292}</string>
			</dict>

			<key>gobj_heartL.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,791},{105,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,95}}</string>
				<key>sourceSize</key>
				<string>{105,95}</string>
			</dict>

			<key>gobj_heartLBurst_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,1296},{193,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,113}}</string>
				<key>sourceSize</key>
				<string>{193,113}</string>
			</dict>

			<key>gobj_heartLBurst_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1177},{193,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,113}}</string>
				<key>sourceSize</key>
				<string>{193,113}</string>
			</dict>

			<key>gobj_heartLBurst_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,1415},{193,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,113}}</string>
				<key>sourceSize</key>
				<string>{193,113}</string>
			</dict>

			<key>gobj_heartLBurst_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,1058},{193,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,113}}</string>
				<key>sourceSize</key>
				<string>{193,113}</string>
			</dict>

			<key>gobj_heartLBurst_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1058},{193,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,113}}</string>
				<key>sourceSize</key>
				<string>{193,113}</string>
			</dict>

			<key>gobj_heartM.png</key>
			<dict>
				<key>frame</key>
				<string>{{1373,1462},{68,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,61}}</string>
				<key>sourceSize</key>
				<string>{68,61}</string>
			</dict>

			<key>gobj_heartMBurst_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,159},{125,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,74}}</string>
				<key>sourceSize</key>
				<string>{125,74}</string>
			</dict>

			<key>gobj_heartMBurst_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,239},{125,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,74}}</string>
				<key>sourceSize</key>
				<string>{125,74}</string>
			</dict>

			<key>gobj_heartMBurst_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,490},{125,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,74}}</string>
				<key>sourceSize</key>
				<string>{125,74}</string>
			</dict>

			<key>gobj_heartMBurst_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,399},{125,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,74}}</string>
				<key>sourceSize</key>
				<string>{125,74}</string>
			</dict>

			<key>gobj_heartMBurst_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,319},{125,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,74}}</string>
				<key>sourceSize</key>
				<string>{125,74}</string>
			</dict>

			<key>gobj_heartS.png</key>
			<dict>
				<key>frame</key>
				<string>{{1287,101},{51,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,46}}</string>
				<key>sourceSize</key>
				<string>{51,46}</string>
			</dict>

			<key>gobj_heartSBurst_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,1479},{94,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,55}}</string>
				<key>sourceSize</key>
				<string>{94,55}</string>
			</dict>

			<key>gobj_heartSBurst_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,1061},{94,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,55}}</string>
				<key>sourceSize</key>
				<string>{94,55}</string>
			</dict>

			<key>gobj_heartSBurst_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1273,1479},{94,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,55}}</string>
				<key>sourceSize</key>
				<string>{94,55}</string>
			</dict>

			<key>gobj_heartSBurst_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1073,1479},{94,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,55}}</string>
				<key>sourceSize</key>
				<string>{94,55}</string>
			</dict>

			<key>gobj_heartSBurst_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1323,837},{94,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,55}}</string>
				<key>sourceSize</key>
				<string>{94,55}</string>
			</dict>

			<key>gobj_heartXL.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,1320},{159,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,144}}</string>
				<key>sourceSize</key>
				<string>{159,144}</string>
			</dict>

			<key>gobj_heartXLBurst_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,654},{292,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,172}}</string>
				<key>sourceSize</key>
				<string>{292,172}</string>
			</dict>

			<key>gobj_heartXLBurst_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1350},{292,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,172}}</string>
				<key>sourceSize</key>
				<string>{292,172}</string>
			</dict>

			<key>gobj_heartXLBurst_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,476},{292,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,172}}</string>
				<key>sourceSize</key>
				<string>{292,172}</string>
			</dict>

			<key>gobj_heartXLBurst_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,298},{292,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,172}}</string>
				<key>sourceSize</key>
				<string>{292,172}</string>
			</dict>

			<key>gobj_heartXLBurst_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,1350},{292,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,172}}</string>
				<key>sourceSize</key>
				<string>{292,172}</string>
			</dict>

			<key>gobj_heartXS.png</key>
			<dict>
				<key>frame</key>
				<string>{{1287,570},{32,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,29}}</string>
				<key>sourceSize</key>
				<string>{32,29}</string>
			</dict>

			<key>gobj_heartXXL.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,832},{244,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,220}}</string>
				<key>sourceSize</key>
				<string>{244,220}</string>
			</dict>

			<key>gobj_heartXXLBurst_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{449,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{449,264}}</string>
				<key>sourceSize</key>
				<string>{449,264}</string>
			</dict>

			<key>gobj_heartXXLBurst_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1080},{449,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{449,264}}</string>
				<key>sourceSize</key>
				<string>{449,264}</string>
			</dict>

			<key>gobj_heartXXLBurst_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,810},{449,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{449,264}}</string>
				<key>sourceSize</key>
				<string>{449,264}</string>
			</dict>

			<key>gobj_heartXXLBurst_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,540},{449,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{449,264}}</string>
				<key>sourceSize</key>
				<string>{449,264}</string>
			</dict>

			<key>gobj_heartXXLBurst_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,270},{449,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{449,264}}</string>
				<key>sourceSize</key>
				<string>{449,264}</string>
			</dict>

			<key>gobj_lightbulb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,1037},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,116}}</string>
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>

			<key>gobj_pUBrokenHeart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1471,0},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,55}}</string>
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>

			<key>gobj_pUForceField.png</key>
			<dict>
				<key>frame</key>
				<string>{{1471,1058},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,55}}</string>
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>

			<key>gobj_pUSnowflake.png</key>
			<dict>
				<key>frame</key>
				<string>{{1474,870},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,55}}</string>
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>

			<key>gobj_pUStar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,150},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,55}}</string>
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>

			<key>gobj_spike.png</key>
			<dict>
				<key>frame</key>
				<string>{{1082,172},{19,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,29}}</string>
				<key>sourceSize</key>
				<string>{19,29}</string>
			</dict>

			<key>gobj_spikeBase.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1528},{29,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,5}}</string>
				<key>sourceSize</key>
				<string>{29,5}</string>
			</dict>

			<key>gobj_trigger_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,278},{32,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,61}}</string>
				<key>sourceSize</key>
				<string>{32,61}</string>
			</dict>

			<key>gobj_trigger_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1479,211},{32,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,61}}</string>
				<key>sourceSize</key>
				<string>{32,61}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1540,1540}</string>
			<key>textureFileName</key>
			<string>gobj.png</string>
			</dict>
		</dict>
</plist>