<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_beastboyLowerHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,600},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,450},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerHit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,0},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerHit_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerHit_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,0},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerHit_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,600},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerHit_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,300},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,300},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,150},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,0},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,600},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,450},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,300},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerHit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,150},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,300},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,450},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,300},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,450},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerIdle_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,600},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerIdle_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,0},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerIdle_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerIdle_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,150},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerIdle_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerIdle_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,450},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,300},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,150},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,0},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,600},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,450},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,300},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,150},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerWalk_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,450},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerWalk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerWalk_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,0},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerWalk_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerWalk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,150},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerWalk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerWalk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,0},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerWalk_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerWalk_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,600},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerWalk_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,450},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerWalk_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,300},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyLowerWalk_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,150},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{910,900}</string>
			<key>textureFileName</key>
			<string>char_beastboyLower.png</string>
			</dict>
		</dict>
</plist>