<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_beastboyUpperHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,600},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,450},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperHit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,150},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperHit_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,0},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperHit_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,900},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperHit_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,450},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperHit_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,600},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,300},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,150},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,0},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,900},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,600},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,450},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperHit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,300},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,450},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,150},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,0},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperIdle_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,900},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperIdle_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperIdle_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,600},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperIdle_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,450},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperIdle_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,300},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperIdle_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,150},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,300},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,150},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,0},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,900},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,600},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,450},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,300},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperShoot_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperShoot_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,0},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperShoot_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperShoot_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperShoot_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperShoot_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperShoot_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperShoot_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperShoot_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperShoot_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperShoot_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,900},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperShoot_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperShoot_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperShoot_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,450},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperShoot_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperShoot_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,150},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperShoot_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperShoot_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperWalk_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,300},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperWalk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,150},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperWalk_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,900},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperWalk_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperWalk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,0},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperWalk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,900},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperWalk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,750},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperWalk_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,600},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperWalk_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,450},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperWalk_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,300},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperWalk_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,150},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

			<key>char_beastboyUpperWalk_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,0},{124,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,144}}</string>
				<key>sourceSize</key>
				<string>{124,144}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1040,1050}</string>
			<key>textureFileName</key>
			<string>char_beastboyUpper.png</string>
			</dict>
		</dict>
</plist>