<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_ravenHitUpper_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenHitUpper_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,348},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenHitUpper_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,348},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenHitUpper_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,232},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenHitUpper_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,348},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenHitUpper_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,116},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenHitUpper_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,116},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenHitUpper_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,116},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenHitUpper_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,116},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenHitUpper_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,116},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenHitUpper_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,232},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenHitUpper_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,116},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenHitUpper_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenHitUpper_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,348},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenHitUpper_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,232},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenHitUpper_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,116},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenHitUpper_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenHitUpper_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,116},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenIdleUpper_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenIdleUpper_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenIdleUpper_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenIdleUpper_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,348},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenIdleUpper_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,232},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenIdleUpper_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,116},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenIdleUpper_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,232},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenIdleUpper_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,348},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenIdleUpper_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenIdleUpper_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenIdleUpper_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenIdleUpper_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenIdleUpper_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenIdleUpper_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenIdleUpper_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenIdleUpper_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenIdleUpper_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenIdleUpper_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenShootUpper_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenShootUpper_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenShootUpper_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,348},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenShootUpper_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenShootUpper_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenShootUpper_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenShootUpper_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenShootUpper_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,348},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenShootUpper_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenShootUpper_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenShootUpper_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenShootUpper_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenShootUpper_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenShootUpper_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenShootUpper_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenShootUpper_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenShootUpper_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

			<key>char_ravenShootUpper_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,0},{99,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,110}}</string>
				<key>sourceSize</key>
				<string>{99,110}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{525,464}</string>
			<key>textureFileName</key>
			<string>char_ravenUpper.png</string>
			</dict>
		</dict>
</plist>