<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_cyborgHitUpperR_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperR_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperR_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,930},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperR_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperR_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,558},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperR_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperR_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperR_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperR_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperR_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperR_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1116},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperR_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,930},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperR_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperR_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,558},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperR_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperR_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperR_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperR_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,1116},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperR_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperR_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1116},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperR_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperR_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,558},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperR_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperR_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperR_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperR_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1116},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperR_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,930},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperR_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperR_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,930},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperR_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperR_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,558},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperR_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperR_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperR_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperR_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,1116},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperR_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,930},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperR_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperR_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,558},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperR_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperR_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperR_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperR_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperR_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperR_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperR_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperR_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperR_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperR_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperR_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperR_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1116},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperR_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,930},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperR_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperR_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperR_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperR_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,558},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperR_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperR_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperR_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperR_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperR_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperR_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1116},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperR_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,930},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperR_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperR_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,558},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperR_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperR_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1320,1302}</string>
			<key>textureFileName</key>
			<string>char_cyborgUpperR.png</string>
			</dict>
		</dict>
</plist>