<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_cyborgHitUpperL_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperL_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperL_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,930},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperL_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperL_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,558},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperL_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperL_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperL_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperL_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperL_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperL_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1116},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperL_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,930},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperL_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperL_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,558},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperL_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperL_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperL_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitUpperL_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,1116},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperL_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperL_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1116},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperL_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperL_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,558},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperL_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperL_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperL_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperL_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,1116},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperL_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,930},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperL_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperL_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,930},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperL_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperL_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,558},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperL_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperL_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperL_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperL_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,1116},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleUpperL_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,930},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperL_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperL_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,558},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperL_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperL_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperL_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperL_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperL_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperL_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperL_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperL_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperL_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperL_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperL_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperL_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1116},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperL_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,930},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperL_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperL_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootUpperL_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperL_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,558},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperL_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperL_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperL_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperL_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperL_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperL_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1116},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperL_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,930},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperL_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperL_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,558},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperL_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkUpperL_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1320,1302}</string>
			<key>textureFileName</key>
			<string>char_cyborgUpperL.png</string>
			</dict>
		</dict>
</plist>