<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_cyborgHitLowerR_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitLowerR_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitLowerR_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitLowerR_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitLowerR_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitLowerR_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitLowerR_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitLowerR_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitLowerR_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitLowerR_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitLowerR_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitLowerR_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,558},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitLowerR_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitLowerR_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitLowerR_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitLowerR_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitLowerR_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgHitLowerR_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgIdleLowerR_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,558},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootLower_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootLower_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootLower_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootLower_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootLower_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootLower_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootLower_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootLower_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootLower_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootLower_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootLower_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootLower_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootLower_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootLower_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootLower_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootLower_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootLower_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgShootLower_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkLower_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkLower_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkLower_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkLower_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,558},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkLower_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,558},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkLower_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkLower_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkLower_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,0},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkLower_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,744},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkLower_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,558},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkLower_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,372},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

			<key>char_cyborgWalkLower_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,186},{159,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,180}}</string>
				<key>sourceSize</key>
				<string>{159,180}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{990,930}</string>
			<key>textureFileName</key>
			<string>char_cyborgLower.png</string>
			</dict>
		</dict>
</plist>